/* Aqui estaran los estilos de los elementos mas comunes de los HTML's. */


/* Background para las Guias: */
.guia-bg
{
    background-image: url(https://wallpapercave.com/wp/wp7043567.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Padding al contenedor padre: */
.guia-p
{
    padding: 1em 0;
}


/*
    Fuente de Google Fonts:

        Link's necesarios:

            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
*/
.font
{
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}


/* Fondo traslucido gris para el area de lectura: */
.container
{
    background-color: rgba(170, 170, 170, 0.418);
    border-radius: 1em;
    margin: 0em 5em;
    padding: 2em 3em;
}


/* Boton "Back": */
.link-button
{
    background-color: rgb(0, 62, 119);
    border: 2px solid #0044ff;
    border-radius: 1em;
    color: rgb(255, 255, 255);
    padding: 0.77em;
    text-decoration: none;    
}
/* Boton "Back" cuando el Cursor este arriba: */
.link-button:hover
{
    background-color: rgb(0, 132, 255);
    border: 2px solid #9dcbff;
    border-radius: 1em;
    color: rgb(0, 0, 0);
    padding: 0.77em;    
}


/* Estilos a cada Seccion: */
.section
{
    border: 2px solid rgba(255, 255, 255, 0.288);
    border-radius: 1em;
    margin: 5em 0;
    padding: 0 1em 1.4em 1em;    
}
/* Modificion leve al que sea el Ultimo Section en el HTML: */
.section:last-child
{
    margin: 5em 0 0 0;
}


/* Titulos de las secciones: Centrado del texto y espaciado. */
.section__title
{
    margin: 1.4em 0;
}


/* Centrado de textos */
.text-center
{
    text-align: center;
}


/* Pad top y bottom para el texto de los <p> </p> */
.text-pad
{
    line-height: 1.4em;
}


/* Estilo a los Span */
.comando
{
    background-color: rgb(0, 53, 133);
    border-radius: 0.23em;
    font-weight: bold;
    padding: 0 5px;    
}




/* Flexbox para centrado de elemento */
.flex-center
{
    display: flex;
    justify-content: center;
}


.m-1
{
    margin: 1em;
}
.m-2
{
    margin: 2em;
}

.p-1
{
    padding: 1em;
}