.li-pad
{
    padding: 0.5em 0;
}

.footer
{
    display: flex;
    justify-content: center;
    padding-top: 2em;
}

.footer__link
{
    color: rgb(255, 255, 255);
}

.footer__link:hover
{
    color: rgb(115, 164, 255);
}