
body
{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(54, 54, 54);
    background-image: url(https://getwallpapers.com/wallpaper/full/7/c/6/765090-most-popular-technology-background-images-1920x1080-hd-for-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container-title
{
    display: flex;
    justify-content: center;
}

.container-title__title
{
    color: rgb(255, 255, 255);
}


.list
{
    display: flex;
    justify-content: center;
}

.list__ul
{
    list-style-type: none;
    height: 10em;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    padding: 2em;
    border: 2px solid rgba(105, 119, 250, 0.39);
    border-radius: 14px;
}

.list__link
{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 2rem;
    padding: 10px;
    border: 2px solid rgb(0, 34, 187);
    border-radius: 0.77rem;
    background-color: rgba(32, 136, 255, 0.719);
}

.list__link:hover
{
    border: 2px solid rgb(97, 126, 255);
    background-color: rgba(0, 81, 255, 0.733);
}